*{

 margin: 0;   
padding: 0;
box-sizing: border-box;

}

html{

font-family: 'Fredoka', sans-serif;

}

h1,p{

text-align: center;
margin: 25px;

}


h1{


color: #E53170;


}

.container{

width: 90%;
margin: 0 auto; 



}



.cell{
float: left;
width: calc(100%/3);
background-color: #0F0E17;
text-align: left;
color: white;

}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img{

float: left;
width: 30%;
margin-right: 10px;
}


span{

 color: #6ECBE3;
    
}

h2,h3,span{


padding-top: 5px;
padding-bottom: 5px;  


}